.poke_app{
    background-color: #ffffff;

    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
}

.mi_lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*  */
.contenedor_imagenes{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}


.imagen{
    width: 30%;
    height: auto;
    display: block;
    background-color: #46f7f1;
    border-radius: 10px;


}

.tarjeta{
    width: 50%;
    height: auto;
    background-color: #e7e785;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.informacion{
  
    background-color: #f591d4;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 10px; 
    box-sizing: border-box; 
    max-width: 500px;


}

/*  */

.lista{
    margin: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.info_poke_listado{
    /* height: auto; */
    width: 90%;
    height: auto;
    display: flex;
    border-radius: 10px;
    /* margin: 20px; */
    background-color: #46f7f1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap;
    gap: 5px; */
}

.imagen_lista{
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #f591d4;
    margin: 20px;
}

.tipo_poke_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorito_btn.active {
    background-color: gold; /* O un color de estrella, corazón, etc. */
    /* Puedes añadir un icono de corazón o estrella como background-image si quieres */
}

/* Otros estilos existentes del boton_favorito */
.favorito_btn {
    width: 30px;
    height: 30px;
    background-color: lightgray; /* Color por defecto */
    border: 1px solid #ccc;
    border-radius: 50%; /* Si quieres que sea circular */
    cursor: pointer;
    transition: background-color 0.2s ease; /* Transición suave al cambiar de estado */
}

.botones_listado{
    /* justify-content: center; */
    background-color: #e7e785;
}